[alias]
    amend = commit --amend --no-edit
    b = branch
    s = status
    unadd = reset
    uncommit = reset HEAD^
[core]
    editor = nvim
[diff]
    noprefix = true
[pager]
    branch = false
[user]
    name = Thomas Taylor
